.rating {
    color: #FFC400;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}

.fas {
    font-size: 24px;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 1rem !important;
}

#fixed-footer {
    margin-top: auto !important;
}

.vinkje {
    width: 199px;
    height: 188px;
}

.margin100 {
    margin-top: 100px;
    align-content: center;
    margin-bottom: 100px;
}

.w-400 {
    width: 400px;
}